{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults, ie >= 11"
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
